@tailwind components;

@layer components {
  .fontTitle {
    font-family: var(--font-title);
  }

  .fontBody {
    font-family: var(--font-default);
  }

  .heading {
    @apply fontTitle font-bold;
  }

  .h1 {
    @apply heading text-[2.125rem] leading-[105%];

    @screen md {
      @apply text-[4.75rem] -tracking-[0.72px];
    }
  }

  .h2 {
    @apply heading text-[2rem] leading-[103%];

    @screen md {
      @apply text-[3.25rem] -tracking-[0.56px];
    }
  }

  .h3 {
    @apply heading text-[1.75rem] leading-[110%];

    @screen md {
      @apply text-[2.75rem] -tracking-[0.56px];
    }
  }

  .h4 {
    @apply heading text-[1.625rem] leading-[112%];

    @screen md {
      @apply text-[32px];
    }
  }

  .h5 {
    @apply heading text-[1.5rem] tracking-normal leading-[130%];

    @screen md {
      @apply text-[1.75rem];
    }
  }

  .h6 {
    @apply heading text-[1.125rem] tracking-normal;

    @screen md {
      @apply text-[1.5rem];
    }
  }

  .bodyText1 {
    @apply text-[1rem];
  }

  .bodyText2 {
    @apply text-[1.25rem] leading-[156%];
  }

  .bodyText3 {
    @apply text-[0.875rem];
  }

  .tagMd {
    @apply text-[0.875rem];
  }

  .tagSm {
    @apply text-[0.75rem];
  }

  .button {
    @apply leading-[100%];
  }

  .btnMd {
    @apply button text-[0.875rem] tracking-[0.16px] leading-[1rem];
  }

  .btnSm {
    @apply button text-[0.875rem] tracking-[0.28px] leading-[0.875rem];
  }

  .blind {
    @apply h-px overflow-hidden w-px absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .displayDesktop {
    display: none;

    @screen md {
      display: block;
    }
  }

  .displayMobile {
    display: block;

    @screen md {
      display: none;
    }
  }

  .pxContent {
    @apply px-main-spacing-x-sm;

    @screen md {
      @apply px-main-spacing-x;
    }

    @screen hd {
      @apply px-main-spacing-x-lg;
    }
  }
}
